# vscode setting
.vscode
sc.code-workspace

# result
result/
results/
*.err
*.out

# python build
__pycache__/
build/
dist/
*.egg-info/
*.egg
*.so
*.o
*.a
*.dll
*.dylib
*.pyd

# data
data/

# 3rd party deps
deps/

# codex
codex/
